@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

$Strong-Cyan: hsl(171, 66%, 44%);
$Light-Blue: hsl(233, 100%, 69%);
$Dark-Grayish-Blue: hsl(210, 10%, 33%);
$Grayish-Blue: hsl(201, 11%, 66%);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 18px;
}

h1, h2, h3{
  font-weight: 600;
  color: $Dark-Grayish-Blue; 
  margin-bottom: 1rem;
}

h3{
  margin-bottom: .5rem;
}

p{
  color: $Grayish-Blue;
  margin-bottom: 2rem;
}

.Btn{
  color: #ffffff;
  padding: 14px 38px;
  border-radius: 20px;
  font-size: 15px;
  outline: none;
  border: none;
  font-weight: 400;
}

.container{
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

#header{
  background: url(./images/bg-header-desktop.png);
  background-repeat: no-repeat;
  .container{
    height: 100vh;
    .hero-page{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .logo{
        margin-bottom: 3rem;
        padding-top: 8rem;
      }
      .text-content{
        text-align: center;
        h1{
          font-size: 39px;
        }
        p{
          padding: 0 17rem;
        }
      }
      .CTA-buttons{
        .Btn-ios{
          background-color: $Strong-Cyan;
          border-bottom: 3px solid darken($color: $Strong-Cyan, $amount: 5);
          margin-right: .5rem;
          box-shadow: 0 5px 10px rgba($color: $Strong-Cyan, $alpha: 0.3);
          &:hover{
            cursor: pointer;
            background-color: rgba($color: $Strong-Cyan, $alpha: .7);
            border-bottom: 3px solid lighten($color: $Strong-Cyan, $amount: 5);
          }
        }
        .Btn-mac{
          background-color: $Light-Blue;
          border-bottom: 3px solid darken($color: $Light-Blue, $amount: 5);
          margin-left: .5rem;
          box-shadow: 0 5px 10px rgba($color: $Light-Blue, $alpha: 0.3);
          &:hover{
            cursor: pointer;
            background-color: rgba($color: $Light-Blue, $alpha: .7);
            border-bottom: 3px solid lighten($color: $Light-Blue, $amount: 5);
          }
        }
      }
    }
  }
}

// Track Snippets

.snippets{
  height: 100%;
  margin-bottom: 10rem;
  .container{
    margin-bottom: 6rem;
    .snippets-text{
      text-align: center;
      p{
        padding: 0 16rem;        
      }
    }
  }
  .snippets-features{
    display: flex;
    gap: 4rem;
    .computer-image{
      img{
        position: relative;
        left: -5%;    
      }
    }
    .features{
      align-self: center;
      padding-right: 9rem;
      .search, .sync, .history{
        margin-bottom: 4rem;
      }
    }
  }
}

// Access Clipboard anywhere

.clipboard{
  margin-bottom: 10rem;
  .container{
    text-align: center;
    .clipboard-text{
      text-align: center;
      margin-bottom: 7rem;
      p{
        padding: 0 16rem;        
      }
    }
    .clipboard-image{
      width: 100%;
      img{
        padding: 0 9rem;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
  }
}

// Supercharge your workflow

.workflow{
  margin-bottom: 10rem;
  .container{
    text-align: center;
    .tools{
      display: flex;
      margin: 0 2rem;
      gap: 1rem;
      &-blacklists, &-snippets, &-preview{
        flex: 0 1 32%;
        img{
          height: 40px;
          margin: 2rem 0;
        }
        h3{
          margin-bottom: 1rem;
        }
        p{
          line-height: 1.8rem;
        }
      }
    }
  }
}

// Brands

.brands{
  margin-bottom: 10rem;
  .container{
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
    .brand{
      img{
        width: 100%;
      }
    }
  }
}

// Clipboard for iOS and Mac OS

.clipboard-ios-mac{
  margin-bottom: 10rem;
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
      .text-content{
        text-align: center;
        h2{
          font-size: 32px;
        }
        p{
          padding: 0 16rem;
          line-height: 1.7rem;
        }
      }
      .CTA-buttons{
        margin-top: 1rem;
        .Btn-ios{
          background-color: $Strong-Cyan;
          border-bottom: 3px solid darken($color: $Strong-Cyan, $amount: 5);
          margin-right: .5rem;
          box-shadow: 0 5px 10px rgba($color: $Strong-Cyan, $alpha: 0.3);
          &:hover{
            cursor: pointer;
            background-color: rgba($color: $Strong-Cyan, $alpha: .7);
            border-bottom: 3px solid lighten($color: $Strong-Cyan, $amount: 5);
          }
        }
        .Btn-mac{
          background-color: $Light-Blue;
          border-bottom: 3px solid darken($color: $Light-Blue, $amount: 5);
          margin-left: .5rem;
          box-shadow: 0 5px 10px rgba($color: $Light-Blue, $alpha: 0.3);
          &:hover{
            cursor: pointer;
            background-color: rgba($color: $Light-Blue, $alpha: .7);
            border-bottom: 3px solid lighten($color: $Light-Blue, $amount: 5);
          }
        }
      }
  }
}

#footer{
  background: rgba($color: $Grayish-Blue, $alpha: .1);
  .container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 130px;
    padding: 0 3rem;
    .logo{
      img{
        width: 50px;
      }
    }
    .footer-list{
      display: flex;
      margin-left: 4rem;
      .list{
      display: flex;
      flex-direction: column;
      a{
        text-decoration: none;
        color: $Dark-Grayish-Blue;
        margin: .4rem 3rem;
        &:hover{
          color: $Strong-Cyan;
        }
      }
      }
    }
    .socials{
      margin-left: 14rem;
      a{
        color: $Dark-Grayish-Blue;
        margin: 0 .5rem;
        &:hover{
          color: $Strong-Cyan;
        }
      }
    }
  }
}